@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  font-size: 18px;
  font-family: "Inconsolata", Courier, monospace;
  font-weight: 700;
  --heading-height: 80px;
  --global-padding: min(3rem, 6vw);
  --dark-back-focus-outline: 3px solid white;
}

/* 
Mobile devices – 320px — 480px(30em).
iPads, Tablets – 481px — 768px(48em).
Small screens, laptops – 769px — 1024px(64em).
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
 */
h1,
h2,
h3,
h4 {
  font-family: "Space Mono", Courier, monospace;
  line-height: 1.1;
  color: black;
}

p {
  color: hsl(0, 0%, 24%);
  line-height: 1.4;
}

button {
  font-family: "Space Mono", Courier, monospace;
}

/* UTILITIES */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* The fragment is what is referenced by the links in the
navigation so that the header does not stay on the heading */
.fragment-father {
  position: relative;
}

.fragment {
  position: absolute;
  top: calc(0px - var(--heading-height, 80px));
}

.dashed-border-paragraph {
  border-left: 4px dashed gray;
  padding-inline-start: 0.5rem;
}

.percentage-list .item-name {
  display: block;
  color: black;
}
.percentage-list .item-name.no-margin {
  margin-bottom: 0;
}
.percentage-list .percentage-and-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.percentage-list .percentage-container {
  width: 100%;
  background-color: black;
  height: 13px;
  overflow: hidden;
  padding: 0.2rem;
}
.percentage-list .percentage {
  background-color: white;
  height: 100%;
}
.percentage-list .percentage-button {
  aspect-ratio: 1;
  width: 30px;
  background-color: gray;
  color: white;
  border-radius: 50%;
}
.percentage-list .percentage-button:hover {
  background-color: black;
}
.percentage-list .level {
  text-align: right;
}

.logo {
  display: block;
  max-height: 50px;
}

/* MAIN ELEMENTS */
.container {
  max-width: 1100px;
  margin-inline: auto;
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
header */
#global-header {
  position: fixed;
  /* auto for bottom */
  inset: 0 0 auto 0;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  padding-inline: var(--global-padding, 3rem);
}
#global-header .container {
  height: var(--heading-height, 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button to toggle nav */
#main-menu-toggle {
  position: relative;
  color: white;
  z-index: 9999;
  aspect-ratio: 1;
  width: 40px;
}
#main-menu-toggle .icon {
  font-size: 28px;
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
nav */
#main-nav {
  position: fixed;
  inset: 0 0 0 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: min(8rem, 30vh) 2rem 0;
  transition: left 0.5s ease;
  z-index: 99;
}

#global-header.show-nav #main-nav {
  left: 35vw;
}

/* list inside nav */
#main-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#main-menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-block: 0.3rem;
  display: block;
  position: relative;
}
#main-menu a:focus {
  outline: var(--dark-back-focus-outline);
  outline-offset: 4px;
}
#main-menu a::before {
  content: "";
  position: absolute;
  /* Use bottom because of padding block */
  bottom: 0.06rem;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0px;
  /* the color of the link, whatever it is */
  background-color: currentColor;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
#main-menu a:hover::before,
#main-menu a:focus::before {
  width: 100%;
}

@media (min-width: 40em) {
  #main-nav {
    position: static;
    background: none;
    padding: 0;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  #main-menu {
    flex-direction: row;
  }
  #main-menu-toggle {
    display: none;
  }
}
/* 
################################################################################################################
################################################################################################################
################################################################################################################
Main */
main {
  margin-top: 80px;
  padding-block: 4rem 0;
}
@media (min-width: 48em) {
  main {
    padding-block: 8rem 0;
  }
}

/* Sections */
section:not(section section) {
  padding-inline: var(--global-padding, 3rem);
}
section:not(section section) h2 {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  border-left: 6px solid gray;
  border-bottom: 2px solid gray;
  padding: 0 0 0.5rem 1.3rem;
  max-width: 300px;
}
section:not(section section) h2 + p {
  font-size: 1.1rem;
}

section + section:not(section section) {
  margin-top: 10rem;
}

@media (min-width: 30em) {
  section h2 {
    font-size: 2rem;
  }
}
/* 
################################################################################################################
################################################################################################################
################################################################################################################
intro */
#main-article-header {
  padding-inline: var(--global-padding, 3rem);
  margin-bottom: 8rem;
}
#main-article-header .container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 3rem;
}
#main-article-header .content {
  max-width: 550px;
  text-align: center;
  margin-inline: auto;
}
#main-article-header h1 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
#main-article-header p {
  margin-bottom: 1rem;
  line-height: 1.2;
}
#main-article-header .image-wrapper {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin-inline: auto;
}
#main-article-header .image-wrapper::before, #main-article-header .image-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid black;
  z-index: -1;
}
#main-article-header .image-wrapper::before {
  left: -20px;
  top: -20px;
}
#main-article-header .image-wrapper::after {
  bottom: -20px;
  right: -20px;
}
#main-article-header .intro-image {
  -o-object-position: 50% 0;
     object-position: 50% 0;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
  max-height: 400px;
  height: 200px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.6);
}

@media (min-width: 30em) {
  #main-article-header .intro-image {
    height: 275px;
  }
}
@media (min-width: 40em) {
  #main-article-header .intro-image {
    max-width: none;
    margin-inline: 0;
    width: auto;
  }
}
@media (min-width: 48em) {
  #main-article-header .container {
    flex-direction: row;
    align-items: center;
  }
  #main-article-header .content {
    text-align: left;
    margin-inline: 0;
  }
  #main-article-header h1 {
    font-size: 2.2rem;
    position: relative;
    padding-left: 20px;
  }
  #main-article-header h1::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    inset: 0 auto 0 0;
    background-color: black;
  }
  #main-article-header .intro-image {
    height: 225px;
  }
}
@media (min-width: 55em) {
  #main-article-header h1 {
    font-size: 2.8rem;
  }
  #main-article-header .intro-image {
    height: 275px;
  }
}
/* 
################################################################################################################
################################################################################################################
################################################################################################################
About
*/
#about-section {
  --percentage-list-max-width: 600px;
}
#about-section .paragraphs-and-image {
  margin-bottom: 3rem;
}
#about-section .dashed-border-paragraph {
  margin-bottom: 2rem;
}
#about-section h3 {
  font-size: 1.5rem;
}
#about-section .about-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 0.4rem;
  box-shadow: 20px 20px 10px black;
  /*
    use max-height because max-width would not
    make the image into portrait mode on ipads
  */
  max-height: 400px;
  display: block;
  margin-inline: auto;
  aspect-ratio: 1;
}
@media (min-width: 48em) {
  #about-section .paragraphs-and-image {
    /* make paragraphs and image be 
    in a single row */
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  #about-section .about-image {
    margin: 0;
    aspect-ratio: 14/30;
  }
}
@media (min-width: 58em) {
  #about-section .about-image {
    aspect-ratio: 20/30;
  }
}
@media (min-width: 68em) {
  #about-section .about-image {
    aspect-ratio: 1;
  }
}

#languages-section {
  margin-bottom: 2rem;
}
#languages-section h3 {
  margin-bottom: 0.4rem;
}
#languages-section .languages-list {
  max-width: var(--percentage-list-max-width, 600px);
}

#skills-and-technologies-section h3 {
  margin-bottom: 2rem;
}
#skills-and-technologies-section .list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 1rem;
}
#skills-and-technologies-section .skill {
  background-color: black;
  border: 1px solid black;
  padding: 0.7rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
#skills-and-technologies-section .skill-name-container {
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  margin-inline: auto;
  border-bottom: 1px dotted white;
  padding-bottom: 0.3rem;
  margin-bottom: 0.6rem;
  text-align: left;
}
#skills-and-technologies-section .skill-name {
  line-height: 1.2;
  font-size: 1rem;
}
#skills-and-technologies-section .icon {
  color: white;
}
#skills-and-technologies-section .proficiency,
#skills-and-technologies-section .experience,
#skills-and-technologies-section .skill-name {
  color: white;
}
#skills-and-technologies-section .proficiency,
#skills-and-technologies-section .experience {
  font-size: 0.9rem;
}
@media (min-width: 30em) {
  #skills-and-technologies-section .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 50em) {
  #skills-and-technologies-section .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 64em) {
  #skills-and-technologies-section .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*
################################################################################################################
################################################################################################################
################################################################################################################
 Projects */
#projects-section {
  --button-hover-color: hsl(0, 0%, 75%);
  --button-dark-back-focus-outline: 3px solid black;
}
#projects-section .show-button-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}
#projects-section .show-button-container::before, #projects-section .show-button-container::after {
  content: "";
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
}
#projects-section .show-button-container button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  transition-property: background-color;
  transition-duration: 0.2s;
}
#projects-section .show-button-container button:focus {
  outline: var(--button-dark-back-focus-outline);
  outline-offset: 1px;
}
#projects-section .show-button-container button:hover, #projects-section .show-button-container button:focus {
  background-color: var(--button-hover-color);
}
#projects-section .show-button-container .button-label {
  font-size: 0.9rem;
}
#projects-section .show-button-container .icon {
  font-size: 1.1rem;
  margin-left: 0.4rem;
}

#projects-list {
  margin-top: 3rem;
  --column-repeat: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-repeat, 1), 1fr);
  gap: 2rem;
}
@media (min-width: 38em) {
  #projects-list {
    --column-repeat: 2;
  }
}
@media (min-width: 57em) {
  #projects-list {
    --column-repeat: 3;
  }
}

.project {
  --inline-padding: 0.6rem;
  border: 1px solid black;
  max-width: 350px;
  height: 100%;
  margin-inline: auto;
  /* 
  reorder the element so that the source order makes sense
  to screen reader users 
  */
  display: grid;
  grid-template-areas: "image" "name" "technologies-used" "links";
  grid-template-rows: repeat(4, max-content);
  --border: 1px solid black;
}
.project .project-name {
  border-top: var(--border);
  grid-area: name;
  padding-block: 0.5rem;
}
.project .project-image {
  grid-area: image;
}
.project .technologies-used-wrapper {
  border-top: var(--border);
  border-bottom: var(--border);
  padding: 0.6rem var(--inline-padding);
  grid-area: technologies-used;
}
.project p {
  color: hsl(0, 0%, 10%);
  margin-bottom: 0.5rem;
}
.project .technologies-used {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  font-size: 0.8rem;
}
.project .technology {
  background-color: hsl(0, 0%, 95%);
  padding: 0.2rem 0.4rem 0.3rem;
}
.project .project-name,
.project .project-description,
.project .project-links {
  padding-inline: var(--inline-padding);
}
.project .project-links {
  display: grid;
  grid-template-areas: "live-site repo" "challenge challenge";
  grid-template-columns: repeat(auto-fit, 50%);
  grid-area: links;
  gap: 0.7rem;
  padding-block: 1rem;
}
.project a {
  display: block;
  padding-block: 0.7rem;
  border: 1px solid black;
  font-size: 0.8rem;
  color: black;
  min-width: -moz-max-content;
  min-width: max-content;
  transition: 0.2s background-color;
  text-align: center;
}
.project a .icon {
  margin-inline-start: 0.3rem;
  font-size: 0.8rem;
}
.project a:hover, .project a:focus {
  background-color: var(--button-hover-color);
}
.project a:focus {
  outline: var(--button-dark-back-focus-outline);
}
.project .live-site-link {
  grid-area: live-site;
}
.project .repo-link {
  grid-area: repo;
}
.project .challenge-link {
  grid-area: challenge;
}

/*
################################################################################################################
################################################################################################################
################################################################################################################
Availability */
#availability-section {
  position: fixed;
  bottom: 3vh;
  right: 5vw;
  padding: 0;
  margin: 0;
}
#availability-section * {
  margin: 0;
  border: 0;
  padding: 0;
}
#availability-section h2 {
  position: absolute;
  bottom: 100%;
  right: 0.3rem;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.2rem 0.5rem;
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}
#availability-section .availability {
  margin: 0;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
}
#availability-section .availability.available {
  /* This color because of contrast */
  background-color: #218721;
  color: white;
  box-shadow: 0 0 20px -3px limegreen;
}
#availability-section .availability.busy {
  background-color: yellow;
  color: black;
  box-shadow: 0 0 20px -3px yellow;
}
#availability-section .availability.unavailable {
  background-color: red;
  color: white;
  box-shadow: 0 0 20px -3px red;
}

/*
################################################################################################################
################################################################################################################
################################################################################################################
Services */
#services-section h2 {
  margin-bottom: 2rem;
}
#services-section h3 {
  font-size: 1.6rem;
}
#services-section h4 {
  font-size: 1.4rem;
}

#offerings-section {
  margin-top: 2rem;
  text-align: center;
}
#offerings-section h3 {
  margin-bottom: 2.5rem;
}

ul#service-list {
  display: grid;
  gap: 3rem;
}

.service {
  max-width: 400px;
  margin-inline: auto;
}
.service .icon {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
.service .service-name {
  margin-bottom: 0.5rem;
}
.service .service-description {
  font-size: 1rem;
}

@media (min-width: 48em) {
  #offerings-section {
    text-align: left;
  }
  ul#service-list {
    grid-template-columns: 1fr 1fr;
  }
  .service {
    margin-inline: 0;
  }
}
/* 
################################################################################################################
################################################################################################################
################################################################################################################
Contact
 */
#contact-section {
  background-image: linear-gradient(to bottom, white 50%, black 50%);
  padding-block: 3rem;
  color: white;
  /* 
    Cancel the default value for padding-inline 
    set on sections further up the code
  */
  padding-inline: 0;
}
#contact-section .section-inner-container {
  max-width: 650px;
  margin-inline: auto;
  background-color: hsl(0, 0%, 10%);
  border-radius: 0.2rem;
  padding: 1.5rem;
  margin-inline: auto;
}
#contact-section h2,
#contact-section p {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  max-width: none;
}
#contact-section a {
  /* this color for a better contrast */
  color: #29a829;
}
#contact-section a:focus {
  outline: var(--dark-back-focus-outline);
}
#contact-section a:hover, #contact-section a:focus, #contact-section a:active {
  text-decoration: none;
}
#contact-section a:active {
  outline: 0;
  background-color: #29a829;
  color: white;
}
#contact-section form p {
  text-align: left;
}
#contact-section h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
#contact-section p:not(form p) {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

#email-form p:first-of-type {
  margin-bottom: 0.5rem;
}
#email-form label {
  display: block;
  margin-bottom: 0.1rem;
}
#email-form input,
#email-form textarea {
  border-radius: 0.2rem;
  width: 100%;
  display: block;
  border: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-family: "Inconsolata", monospace;
}
#email-form input {
  height: 40px;
}
#email-form textarea {
  min-height: 100px;
  resize: vertical;
}
#email-form input:focus,
#email-form textarea:focus,
#email-form button[type=submit]:focus {
  outline: 3px double white;
  outline-offset: 2px;
}
#email-form button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  height: 50px;
  padding-inline: 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}
#email-form button[type=submit]:hover, #email-form button[type=submit]:focus {
  color: black;
  background-color: white;
}
#email-form button[type=submit] .icon {
  font-size: 1.2rem;
}

@media (min-width: 30em) {
  #contact-section h2 {
    font-size: 1.8rem;
  }
}
/* 
################################################################################################################
################################################################################################################
################################################################################################################
Footer */
footer {
  background-color: black;
  color: #999;
  padding-block: 5rem;
  padding-inline: var(--global-padding, 3rem);
}
footer .socials {
  margin-top: 3rem;
  padding-inline: 20%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
footer .socials .social-link {
  display: block;
  color: #999;
  font-size: 1.7rem;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
footer .socials .social-link:hover, footer .socials .social-link:focus {
  color: white;
  transform: scale(1.2);
}
footer .socials .social-link:focus {
  outline: var(--dark-back-focus-outline);
}
footer .socials .social-link:active {
  outline: 0;
  background-color: white;
  color: black;
}
footer .freelance-socials {
  margin-top: 2rem;
  text-align: center;
}
footer .freelance-socials p {
  color: white;
  margin-bottom: 0.5rem;
}
footer .freelance-socials a {
  color: #999;
}
footer .freelance-socials a:focus {
  outline: var(--dark-back-focus-outline);
}
footer .freelance-socials a:hover, footer .freelance-socials a:focus {
  text-decoration: none;
  color: white;
}
footer .freelance-socials li + li {
  margin-top: 0.3rem;
}
footer .copyright-notice {
  text-align: center;
  margin-top: 2rem;
  color: #999;
}

#contact-list li + li {
  margin-top: 0.6rem;
}
#contact-list .contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

@media (min-width: 33em) {
  footer .contact-and-socials-container {
    display: flex;
    justify-content: space-between;
  }
  footer .socials {
    padding: 0;
    margin: 0;
    width: -moz-max-content;
    width: max-content;
    gap: 1rem;
    justify-content: end;
  }
  footer .copyright-notice {
    margin-top: 2rem;
    text-align: left;
  }
  footer .freelance-socials {
    text-align: left;
  }
  #contact-list {
    margin: 0;
  }
  #contact-list .contact-item {
    justify-content: start;
  }
}/*# sourceMappingURL=main.css.map */