@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  font: {
    size: 18px;
    family: "Inconsolata", Courier, monospace;
    weight: 700;
  }

  --heading-height: 80px;
  --global-padding: min(3rem, 6vw);

  --html-color: hsl(13, 78%, 52%);
  --css-color: hsl(222, 88%, 55%);
  --javascript-color: hsl(46, 86%, 54%);
  --sass-color: hsl(330, 51%, 60%);
  --react-color: hsl(189, 100%, 50%);
}

/* 
Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
 */

html,
body {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Space Mono", Courier, monospace;
  line-height: 1.1;
  color: black;
}

p {
  color: hsl(0, 0%, 24%);
  line-height: 1.4;
}

/* UTILITIES */
.btn {
  cursor: pointer;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;

  transition: {
    property: color, background-color;
    duration: 0.2s;
  }
}

.primary-btn {
  background-color: black;
  color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.fragment-father {
  position: relative;
}
.fragment {
  position: absolute;
  top: calc(0px - var(--heading-height, 80px));
}

.decorated-heading {
  position: relative;
  padding-left: 15px;

  // parent selector, add info about it in readme.md
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    inset: 0 auto 0 0;
    background-color: black;
  }
}

.html-background {
  background-color: var(--html-color, red);
}
.css-background {
  background-color: var(--css-color, blue);
}
.javascript-background {
  background-color: var(--javascript-color, yellow);
}
.react-background {
  background-color: var(--react-color, aqua);
}
.sass-background {
  background-color: var(--sass-color, pink);
}
.github-background {
  background-color: var(--github-color, hsl(0, 50%, 95%));
}

/* MAIN ELEMENTS */
.container {
  padding-inline: var(--global-padding, 3rem);
  max-width: 1000px;
  margin-inline: auto;
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
header */
#global-header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);

  .container {
    height: var(--heading-height, 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-picture-container {
    position: relative;
  }
  .fake-profile-picture {
    width: 50px;
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

#author-modal {
  --background: #fff;

  position: absolute;
  background-color: var(--background, #fff);
  border-radius: 0.7rem;
  border: 1px solid #999;
  padding: 1rem;
  width: 400px;
  max-width: calc(100vw - var(--global-padding, 3rem) * 2);
  top: calc(100% + 20px);
  font-size: 1rem;

  /*
    The before pseudo-element is
    the arrow at the top left corner
  */
  &::before {
    content: "";
    display: block;
    width: 20px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 100%;
    /* 25px because the profile picture is 50px wide */
    left: 25px;

    transform: translateY(50%) translateX(-50%) rotate(45deg);

    background-color: var(--background, #fff);
    border-top: 1px solid #999;
    border-left: 1px solid #999;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    color: black;
  }
  p:not(.languages-container p) {
    line-height: .9;
  
    margin-bottom: .5rem;
  }

  hr {
    margin-block: .7rem;
  }

  :has(.icon) {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    
    .icon {
      justify-self: center;
    }
  }

  .status-hint {
    display: inline-block;
    border-radius: 50%;
    width: 13px;
    aspect-ratio: 1;
    margin-inline: auto;

    &.available {
      background-color: lime;
    }
    &.working {
      background-color: yellow;
    }
    &.unavailable {
      background-color: red;
    }
  }

  .languages-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-languages {
    display: flex;
    flex-wrap: wrap;

    .language {
      background-color: #ddd;

      padding: .2rem .3rem;
      margin-inline: .2rem;
    }
  }
}

/* button to toggle nav */
#main-menu-toggle {
  position: relative;
  color: white;
  z-index: 9999;
  aspect-ratio: 1;
  width: 40px;

  .icon {
    font-size: 28px;
  }
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
nav */
#main-nav {
  position: fixed;
  inset: 0 0 0 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  padding: min(8rem, 30vh) 2rem 0;
  transition: left 0.5s ease;
  z-index: 99;
}

#global-header.show-nav {
  #main-nav {
    left: 35vw;
  }
}

/* list inside nav */
#main-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-block: 0.3rem;
    display: block;
    position: relative;
  }
  a::before {
    content: "";

    position: absolute;
    bottom: 0.05rem;
    left: 50%;
    transform: translateX(-50%);

    height: 3px;
    width: 0px;

    background-color: currentColor;

    transition: {
      property: width;
      duration: 0.2s;
      timing-function: ease-in;
    }
  }
  a:hover::before {
    width: 100%;
  }
}

@media (min-width: 620px) {
  #main-nav {
    position: static;
    background: none;
    padding: 0;
    backdrop-filter: none;
  }

  #main-menu {
    flex-direction: row;
  }

  #main-menu-toggle {
    display: none;
  }
}

/* Main */
main {
  margin-top: 80px;
  padding-block: 6rem;
}

/* Sections */
section {
  margin-block: 2rem;

  h2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.5rem;

    font-size: 2rem;

    &::before,
    &::after {
      content: "";
      background-color: #ccc;
      display: inline-block;
      border-top: 4px dashed #999;
    }
  }

  h2 + p {
    font-size: 1.3rem;
    text-align: center;
  }
}

section + section {
  margin-top: 10rem;
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
intro */
#main-article-header {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  margin-bottom: 5rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  .pseudo-hero {
    aspect-ratio: 1;
    background-color: black;
    position: relative;
    border-radius: 4rem;
    max-width: 350px;
    margin-inline: auto;
  }
  .pseudo-hero::before {
    content: "R";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15rem;
    color: white;
  }
}

@media (min-width: 768px) {
  #main-article-header {
    flex-direction: row;
    align-items: center;

    h1 {
      font-size: 2.5rem;
    }

    .pseudo-hero {
      width: 300px;
    }
  }
}
@media (min-width: 1024px) {
  #main-article-header {
    h1 {
      font-size: 2.8rem;
    }

    .pseudo-hero {
      max-width: 400px;
      width: 400px;
    }
  }
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
Skills */
#skills-list {
  margin-top: 5rem;
  --column-repeat: 2;

  display: grid;
  grid-template-columns: repeat(var(--column-repeat, 2), 1fr);
  gap: 2rem;

  .skill-button {
    position: relative;
    bottom: 10px;

    display: block;
    width: 100%;
    aspect-ratio: 1;
    margin-inline: auto;

    box-shadow: 10px 10px black;

    transition-property: inset, box-shadow, transform;
    transition-duration: 0.5s;

    transform: skewX(-6deg);

    .icon {
      font-size: 440%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .skill-button:hover {
    bottom: 40px;
    box-shadow: 10px 40px 0px black;
  }

  .skill-button:active {
    bottom: 0px;
    box-shadow: 0 0px black;
  }
}

@media (min-width: 480px) {
  #skills-list {
    --column-repeat: 3;
  }
}
@media (min-width: 574px) {
  #skills-list {
    --column-repeat: 4;
  }
}
@media (min-width: 768px) {
  #skills-list {
    --column-repeat: 5;
  }
}

/*
################################################################################################################
################################################################################################################
################################################################################################################
 Projects */
section#projects {
  .show-button-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 1rem;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      background-color: #999;
      height: 2px;
    }

    button {
      padding: 0.5rem 2rem;
      border: 1px solid black;
      border-radius: 2rem;
      font-size: 2rem;
    }
  }
}

#projects-list {
  margin-top: 5rem;
  --column-repeat: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-repeat, 1), 1fr);
  gap: 2rem;
}

.project {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  max-width: 430px;
  margin-inline: auto;

  // this is because there was some
  // ugly white line at the bottom of the project below
  // the project's image that was making the
  // hovering kind of weird
  height: calc(100% - 3px);

  .project-image {
    transition-property: transform, filter;
    transition-duration: 0.2s;
  }

  .project-name {
    position: absolute;
    inset: auto auto 5% 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 100%;

    font-size: 1.1rem;
    text-align: center;
    padding-inline: 1.2rem;
    color: white;

    // this is because hovering over the
    // project name would cause the script to
    // remove the hover class from the project
    pointer-events: none;
  }

  .icon {
    display: none;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0%);
    font-size: 2.5rem;
    color: white;
  }
}

.project.hover {
  .project-image {
    filter: brightness(0.4);
    transform: scale(1.3);
  }

  .icon {
    display: block;
  }
}

@media (min-width: 480px) {
  .project {
    .project-name {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 768px) {
  #projects-list {
    --column-repeat: 2;
  }
}

/*
################################################################################################################
################################################################################################################
################################################################################################################
Services */
section#services {
  h2 {
    margin-bottom: 3rem;
  }
}

ul#service-list {
  display: grid;
  grid-auto-rows: min-content;
  gap: 3rem;
}

.service {
  max-width: 350px;
  height: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  .service-name {
    font-size: 1.4rem;
    text-align: left;
  }

  .service-description {
    font-size: 1rem;
  }

  .btn {
    display: block;
    align-self: start;
    text-decoration: underline;
    align-self: start;
  }
}

@media (min-width: 768px) {
  ul#service-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
Footer */
footer {
  background-color: black;
  color: #999;
  padding-block: 5rem;

  .socials {
    margin-top: 3rem;
    padding-inline: 20%;

    display: flex;
    justify-content: space-between;

    .social-link {
      display: block;
      color: #999;
      font-size: 1.7rem;
      transition-property: color, transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    .social-link:hover {
      color: white;
      transform: scale(1.3);
    }
  }

  .copyright-notice {
    text-align: center;
    margin-top: 2rem;
    color: #999;
  }
}

#contact-list {
  li + li {
    margin-top: 0.6rem;
  }

  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
}

@media (min-width: 480px) {
  footer {
    .contact-and-socials-container {
      display: flex;
      justify-content: space-between;
    }

    .socials {
      padding: 0;
      margin: 0;
      width: max-content;
      gap: 1rem;
      justify-content: end;
    }

    .copyright-notice {
      margin-top: 4rem;
      text-align: left;
    }
  }

  #contact-list {
    margin: 0;

    .contact-item {
      justify-content: start;
    }
  }
}
