* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

button {
   background: none;
   border: 0;
   cursor: pointer;
}

ul, menu {
   list-style-type: none; 
}

img {
   max-width: 100%;
   display: block;
}